@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@utility grid-rows-app {
  grid-template-rows: 'min-content max-content'
}

body {
  font-family: var(--font-sans);
}
